body{
    background-color: aliceblue;
    font-family: 'Georgia', serif;
    text-align:center;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.poster{
    padding: 40px 20px;
}
.poster h1{
    font-size: 2.5em;
    color:rgb(77, 73, 73);
    margin-bottom: 0;
}
.year{
    font-size:1.2em;
    color:rgb(77, 73, 73);
    margin-top:5px;
    margin-bottom:20px;
}
.poster img{
    height:400px;
    width:400px;
    border:2px solid #ddd;
    border-radius:8px;
    margin-bottom:30px;
}
.quote{
    font-size:1.4em;
    color:#34495e;
    font-style:italic;
}